<h1>Dodawanie produktu</h1>

<form
  action="/dashboard/produkty/dodaj"
  enctype="multipart/form-data"
  method="POST"
>
  <label for="name">Nazwa</label><br />
  <input type="text" id="name" name="name" required />
  <br /><br />
  <label for="name">Cena</label><br />
  <input type="text" id="price" name="price" required />
  <br /><br />
  <label for="name">Waga</label><br />
  <input type="text" id="weight" name="weight" required />
  <select name="unit">
    <option value="g">Gram</option>
    <option value="kg">Kilogram</option>
    <option value="ml">Mililitr</option>
  </select>
  <br /><br />
  <label for="name">Ilość</label><br />
  <input type="text" id="quantity" name="quantity" required />
  <br /><br />
  <label for="description">Opis</label><br /><br />
  <textarea name="description" id="description"></textarea>
  <br /><br />
  <input type="file" id="image" name="image" required />
  <br /><br />
  <button type="submit">Dodaj produkt</button>
</form>