<h1>Dodawanie produktu</h1>

<form action="/dashboard/produkty/dodaj" method="POST">

  <label for="name">Nazwa</label><br />
  <input type="text" id="name" name="name" required />
  <br /><br />
  <label for="name">Cena</label><br />
  <input type="text" id="price" name="price" required />
  <br /><br />
  <label for="name">Waga</label><br />
  <input type="text" id="weight" name="weight" required />
  <select name="unit">
    <option value="g">Gram</option>
    <option value="kg">Kilogram</option>
  </select>
  <br /><br />
  <label for="name">Ilość</label><br />
  <input type="text" id="quantity" name="quantity" required />
  <br /><br />
  <button type="submit">Dodaj produkt</button>
</form>