body {
  font-family: "Oswald", sans-serif;
  font-weight: 500;

  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.table {
  --bs-table-bg: transparent;
}

.nav {
  background-color: white;
  padding: 10px 0 15px 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #d2d2d2;
}

.logo {
  width: 140px;
  margin-top: 8px;
}

img {
  max-width: 100%;
}

td img {
  height: 100%;
}

.uploadtd {
  width: 200px;
}

.main-pagetd {
  width: 300px;
}

i {
  font-size: 1.6em;
}

a,
span {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 2em;
  height: 50px;
  margin: 50px 0 50px 0;
}

span {
  position: relative;
}

a:hover,
i:hover {
  color: #ef7f1a;
}

.carousel-inner {
  height: 750px;
}

.main-list {
  text-align: center;
  font-size: 1.6em;
}
