body {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.nav {
  background-color: white;
  padding: 10px 0 15px 0;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 160px;
  padding: 15px;
}

a,
i {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 2em;
  padding-top: 40px;
}

i {
  font-size: 2.5em;
}

a:hover,
i:hover {
  color: #ef7f1a;
}
