body {
  font-family: "Oswald", sans-serif;
  font-weight: 500;

  /* background-image: url("/images/gym1.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.nav {
  background-color: white;
  padding: 10px 0 15px 0;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 160px;
  padding: 15px;
}

img {
  max-width: 100%;
}

td img {
  height: 100%;
}

.uploadtd {
  width: 200px;
}

.main-pagetd {
  width: 300px;
}

a,
i {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 2em;
  padding-top: 40px;
}

i {
  font-size: 2.5em;
}

a:hover,
i:hover {
  color: #ef7f1a;
}

.carousel-inner {
  height: 750px;
}

.main-list {
  text-align: center;
  font-size: 1.6em;
}
