<div class="dropdown">
  <i class="fa-solid fa-bars">
    <div class="dropdown-items">
      <a href="/karnet">Kup karnet</a>
      <a href="/produkty">Nasze produkty</a>
      <a href="/auth/logowanie">Zaloguj</a>
    </div>
  </i>
</div>

<i class="fa-solid fa-basket-shopping"></i>

<h1>Siłownia w Olimpie</h1>