<h1>Dane płatności</h1>

<form action="/skladanie-zamowienia" method="POST">
  <label for="name">Imię</label><br />
  <input type="text" id="name" name="name" required />
  <br /><br />
  <label for="name">Nazwisko</label><br />
  <input type="text" id="surname" name="surname" required />
  <br /><br />
  <label for="name">Adres email</label><br />
  <input type="text" id="email" name="email" required />
  <br /><br />
  <label for="name">Numer telefonu komórkowego</label><br />
  <input type="text" id="phoneNumber" name="phoneNumber" required />
  <br /><br />
  <label for="name">Kraj</label><br />
  <input type="text" id="country" name="country" required />
  <br /><br />
  <label for="name">Ulica</label><br />
  <input type="text" id="street" name="street" required />
  <br /><br />
  <label for="name">Miasto</label><br /><br />
  <input type="city" id="city" required></input>
  <br /><br />
  <label for="name">Kod pocztowy</label><br /><br />
  <input type="zipcode" id="zipcode" required></input>
  <br /><br />
  <button type="submit">Złóż zamówienie</button></form>