<div class="main-container">
  <table class="table">
    <thead>
      <tr>
      </tr>
    </thead>

    <tbody class="main-list">
      {{#each products}}
        <tr>
          <td class="main-pagetd">{{name}}</td>
          <td class="main-pagetd">{{description}}</td>
          <td class="main-pagetd"><img src="/uploads/{{images}}" /></td>
          <td>{{price}} zł</td>
          <td> <a class="btn btn-primary">Dodaj do koszyka</a></td>

        </tr>
      {{/each}}
    </tbody>
  </table>
</div>