<table class="table">
  <thead>
    <tr>
      <th>Produkt</th>
      <th></th>
      <th>Cena</th>
      <th>Ilość</th>
    </tr>
  </thead>

  <tbody class="main-list">
    {{#each carts}}
      <tr>
        <td class="main-pagetd"><img src="/uploads/{{product.images}}" /></td>
        <td class="main-pagetd">{{productId.name}}</td>
        <td>{{product.price}} zł</td>
        <td class="main-pagetd">{{quantity}}</td>
        <td>
          <a href="/produkty">Kontynuuj zakupy</a>
        </td>

      </tr>
    {{/each}}
  </tbody>
</table>